// colors
$primary-color: #333;
$white: #FFF;
$grey-fa: #FAFAFA;
$grey-5: #555;
$yellow: #FEC900;

// fs - font-size
$fs-lg: 16px;
$fs-md: 14px;
$fs-sm: 12px;

// fw - font-weight
$fw-bold: 600;
$fw-semi-bold: 500;
$fw-normal: 400;

$body-font: 'Lato', sans-serif;

$navbar-height: 48px;
